@model List<Product>

<html>
    
<h2>Список продуктів:</h2>

    @foreach (var product in Model)
    {
        <li style="list-style: none">🛒@product.ID. @product.Name - @product.Price💸 (@product.CreatedDate)</li>
    }


<h2>Таблиця продуктів:</h2>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created Date</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ID</td>
            <td>@product.Name</td>
            <td>@product.Price$</td>
            <td>@product.CreatedDate</td>
        </tr>
    }
</table>
</html>